.body{
    background-color: rgb(150, 150, 150);
    
}
body, html{
    height: 100%;
    width: 100%;
}
.header{
    background-color: rgb(255, 79, 79);
    height: 5rem;
    text-align: center;
    font-family: 'Segoe UI Semibold';
    font-size: 55px;
    color: white;
}
.content{
    background-color: transparent;
    margin: center;
    height: 100%;
    width: 100%;
}
.footer{
    background-color: rgb(255, 79, 79);
    height: 5rem;
}
.navbar{
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 79, 79);
    border-left: 2px;
    border-right: 2px;
}
@media screen{
    #loginadm, #cart, #logout, #paginicial{
        background-color: transparent;
        border: transparent;
    }
}
#divsombra{
    font-family: 'Times new roman';
    text-align: center;
    height: 25%;
    width: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
}
#divcadastro{
    font-family: 'Times new roman';
    text-align: center;
    height: 25%;
    width: 20%;
    margin-top: 25%;
    margin-bottom: 25%;
}